body {
    background-image: url('img/my-sf.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content {
	padding-bottom: 3em;
}

.navbar {
	background: none;
	border: none;
}

.navbar .navbar-nav {
  	display: inline-block;
  	float: none;
  	vertical-align: top;
}

.navbar .navbar-collapse {
  	text-align: center;
}

.nav li {
	padding-right: 1.5em;
}

.section {
	padding-bottom: 3em;
}

.my-title {
	padding-bottom: 5.5em;
}

.my-title img {
	height: 7em;
	margin-bottom: 2em;
}

.my-title h1 {
	border-bottom: 1px solid black;
	bottom: 100px;
	margin: auto 1em;
	padding-bottom: 10px;
}

.normal-text, .title {
	margin: 0 50px;
	text-align: justify;
	text-justify: inter-word;
}

.normal-text {
	padding-top: 1em;
	font-size: 20px;
	text-indent: 30px;
} 

.title {
	padding: 1.5em 0;
	border-bottom: 1px solid gray;
}

.my-info {
	padding-top: 7em;
	max-width: 40em;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 2px 2px 2px #888888;
	border-radius: 3px;
}

.my-title h4 {
	text-transform: lowercase;
}

.section-text {
	margin: auto 1.5em;
}

.skills-images, .projects-images {
	text-align: center;
	padding: 0 1em;
}

.skills-images img {
	width: 100px;
	display: inline-block;
	padding-right: 1em;
}

.projects-images img {
	padding-top: 1.5em;
	height: 300px;
	width: 350px;
	margin: 0 auto;
}

.project-text {
	margin: 15px 100px;
}

.contact {
	background-color: lightgrey;
}

